@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-radix-popper-content-wrapper] {
  width: var(--radix-popper-anchor-width);
}

.comment-modal {
  width: calc(100% - 48px - 15px);
}

.banner-gradient {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.heading-text-gradient {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  height: 100%;
}

.post-skeleton_height {
  height: calc(100vh - 176px);
}

.mobile-header {
  margin-right: -40px !important;
  border: 4px solid pink;
}
