@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-radix-popper-content-wrapper] {
  width: var(--radix-popper-anchor-width);
}

.banner-gradient {
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
}

.counter-btn:hover span {
  color: #373f68;
  transition: color 0.2s;
}

.mobile-header {
  margin-right: -40px !important;
  border: 4px solid pink;
}
